* {
    padding: 0px;
    margin: 0px;
}

.range {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: 500px;
    height: 500px;
}

.card {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.pair {
    background-color: #999;
}

.selected {
    background-color: salmon;
}

.value-0 {
    background-color: #666; /* For value 1 (Raise) */
}

.value-1 {
    background-color: red; /* For value 1 (Raise) */
}

.value-2 {
    background-color: green; /* For value 2 (Call) */
}

.value-3 {
    background-color: blue; /* For value 3 (Bluff) */
}


